/* Header File */

#header .topHead {
  background: #1A4781;
  height: 60px;
}

#header .topHead .part-1,
#header .topHead .part-2 {
  height: 60px;
  display: flex;
  align-items: center;

}

#header .topHead .part-1 span,
#header .topHead .part-2 span {
  color: #F9FAFB;
}

#header .topHead .part-2 {
  margin-left: auto;
}

#header .topHead .part-2 i {
  margin-left: 13px;
  font-size: 15px;
  color: #486C9A;
}

#header .topHead .part-2 i:hover {
  color: #f3f3f3;
}

#header .topHead .part-2 .btn {
  background: #1C56A1;
  padding: 14px 53px;
  border-radius: 21px;
}

#header .topHead .part-2 .btn:hover {
  background: #F9FAFB;
}

#header .topHead .part-2 .btn:hover a {
  color: #0e0e0e;
}

#header .topHead .part-2 a {
  color: #F9FAFB;
  font-size: 15px;
  font-weight: normal;
}

@media only screen and (max-width: 992px) {
  #header .topHead .part-1 span {
    display: none;
  }


}

@media only screen and (max-width: 992px) {

  #header .topHead .part-2 {
    flex: none;
    max-width: 50%;
  }

  #header .topHead .part-1 {
    width: 50%;
  }
}

@media only screen and (max-width: 576px) {
  #header .topHead .part-2 .btn {
    padding: 9px 27px;
  }
}

@media only screen and (max-width: 320px) {
  #header .topHead .part-2 .btn {
    padding: 9px 12px;
  }

}

/* NabBar */

#navBar {
  padding: 16px 0;
}

#navBar ul li {
  margin-right: 30px;
}

#navBar ul li a {
  font-size: 16px;
  color: #1A4781;
}

#navBar ul li a:hover {
  border-bottom: 3px solid;
}

#navBar ul li .dropdown-menu {
  left: -2px;
}

#navBar ul li .dropdown-menu a:hover {
  border-bottom: none;
  background: #1A4781;
  color: #ddd;
}

#navBar ul li .dropdown-menu a {
  text-transform: uppercase;
}

#navBar .navbar-collapse ul {
  text-align: center;
}

#navBar .navbar-collapse ul li:last-child {
  padding-right: 35px;
  border-right: 2px solid #ddd;
}

@media only screen and (max-width: 992px) {
  #navBar ul li {
    margin-right: 0;
    margin-top: 10px;
  }

  #navBar ul li a:hover {
    background: #1A4781;
    color: #ddd;
    padding: 10px 30px;
    border-radius: 10px;
  }

  #navBar ul li .dropdown-menu {
    text-align: center;
  }

  #navBar .navbar-collapse ul li:last-child {
    padding-right: 0;

  }

  #navBar .search_cart_down {
    display: none;

  }
}

@media only screen and (max-width: 320px) {
  #navBar img {
    width: 165px;
  }
}

/* Hero section */

#hero {
  background-image: url(../img/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 645px;
}

#hero hgroup {}

#hero hgroup h2 {
  margin-top: 151px;
  font-size: 52px;
  font-weight: bold;
  color: #F9FAFB;

}

#hero hgroup p {
  margin-top: 33px;
  font-size: 18px;
  font-weight: normal;
  color: #F9FAFB;
  width: 711px;
}

#hero hgroup .all-btn {
  margin-top: 43px;
}

#hero hgroup .btn-1 {
  padding: 15px 56px;
  background-color: #1C56A1;
  border-radius: 25px;
  color: #F9FAFB;
  border: 2px solid #F9FAFB;
}

#hero hgroup .btn-1:hover {
  background-color: #fcfcfc00;
  border: 2px solid #F9FAFB;
}

#hero hgroup .btn-1:hover a {
  color: #F9FAFB;
}

#hero hgroup a {
  color: #F9FAFB;
}

#hero hgroup .btn-2 {
  padding: 15px 56px;
  background-color: #1c56a100;
  border-radius: 25px;
  color: #F9FAFB;
  border: 2px solid #F9FAFB;
}

#hero hgroup .btn-2:hover {
  background-color: #1C56A1;
  border: 2px solid #F9FAFB;
}

#hero hgroup .btn-2:hover a {
  color: #F9FAFB;
}

#hero hgroup a {
  color: #F9FAFB;
  font-size: 20px;
}


@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {
  #hero hgroup h2 {
    margin-top: 115px;
    font-size: 35px;
    font-weight: bold;
    color: #F9FAFB;
    text-align: center;
  }

  #hero hgroup p {
    margin-top: 33px;
    font-size: 15px;
    font-weight: normal;
    color: #F9FAFB;
    text-align: center;
    width: 100%;
  }

  #hero hgroup .all-btn {
    text-align: center;
  }

}

@media only screen and (max-width: 567px) {
  #hero hgroup h2 {
    font-size: 33px;
  }

  #hero hgroup p {
    padding: 0 5px;
  }

  #hero hgroup .btn-1 {
    margin-right: 0;
    margin-bottom: 20px;
  }

}

/* Blog section */

#blog {}

#blog h2 {
  font-size: 36px;
  font-weight: 500;
  color: #1E2127;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 86px;
}

#blog .card {
  border: none;
}


#blog .card .card-title {
  font-size: 19px;
  font-weight: 700;
  color: #1E2127;
}

#blog .card .card-text {
  font-size: 15px;
  font-weight: 400;
  color: #1E2127;
}

@media only screen and (max-width: 786px) {
  #blog h2 {
    font-size: 28px;
    font-weight: 500;
    color: #1E2127;
    text-align: center;
    margin-top: 51px;
    margin-bottom: 55px;
  }
}

@media only screen and (max-width: 576px) {
  #blog h2 {
    font-size: 25px;
    font-weight: 500;
    color: #1E2127;
    text-align: center;
    margin-top: 37px;
    margin-bottom: 42px;

  }
}

/* Discover service */
#discover-service {
  background-image: url(../img/discover-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  margin-top: 84px;
}

#discover-service hgroup h2 {
  font-size: 36px;
  color: #F9FAFB;
  font-weight: 500;
  margin-top: 174px;
  margin-bottom: 35px;
}

#discover-service .part-1 hgroup p {
  font-size: 14px;
  color: #F9FAFB;
  font-weight: 400;
  margin-bottom: 45px;
}

#discover-service hgroup .btn-2 {
  padding: 15px 56px;
  background-color: #e6e6e600;
  border-radius: 25px;
  color: #F9FAFB;
  border: 2px solid #F9FAFB;
}

#discover-service hgroup .btn-2:hover {
  background-color: #ffffff;
  border: 2px solid #F9FAFB;
}

#discover-service hgroup .btn-2:hover a {
  color: #262626;
}

#discover-service hgroup a {
  color: #F9FAFB;
  font-size: 20px;
}

#discover-service .part-2 {}

#discover-service .part-2 hgroup {
  width: 910px;
  height: 450px;
  background-color: #fff;
  margin-top: 125px;
}

#discover-service .part-2 .point-1 {
  float: left;
}

#discover-service .part-2 .point-1 p {
  font-size: 45px;
  padding: 25px 6px;
  color: #a9a9a9;
}

#discover-service .part-2 .point-2 h3 {
  font-size: 22px;
  margin-left: 24px;
  padding-left: 89px;
  padding-bottom: 10px;
  padding-top: 5px;

}

#discover-service .part-2 .point-2 p {
  font-size: 15px;
  margin-left: 24px;
  padding-left: 89px;
  padding-bottom: 10px;
  padding-top: 5px;
  color: #1C1C1C;

}

.img-card {
  margin-top: 40px;
  margin-left: 40px;
}


@media only screen and (max-width: 1200px) {
  #discover-service {
    background-image: none;
    background-color: #1C56A1;
    height: 380px;
  }

  #discover-service .part-1 {
    text-align: center;
  }

  #discover-service hgroup h2 {
    margin-top: 78px;
    font-weight: 700;
  }

  #discover-service hgroup br {
    display: none;
  }

  #discover-service .part-2 {
    margin-top: -30px;
  }

  #business_expertise {
    margin-top: 400px;
  }
}

@media only screen and (max-width: 960px) {


  #discover-service .part-2 .point-2 p {
    width: 500px;
    width: 50%;
  }
}

@media only screen and (max-width: 375px) {
  #discover-service hgroup {
    text-align: center;
  }

  #discover-service hgroup h2 {
    margin-top: 60px;
  }

  #discover-service .part-2 {
    margin-top: 0;
  }

  .img-card {
    margin-left: 0;
  }

  #discover-service .part-2 hgroup {
    width: 360px;
    height: 450px;
    background-color: #fff;
    margin-top: 125px;
    margin-left: -15px;
  }

  #discover-service .part-2 .point-2 h3 {

    margin-left: -37px;

  }

  #discover-service .part-2 .point-2 p {

    width: 90%;
    text-align: left;
  }
}


/* Business expertise */

#business_expertise {}

#business_expertise figure img {
  margin-top: 130px;
}

#business_expertise hgroup {
  margin-left: 90px;

}

#business_expertise hgroup h2 {
  margin-top: 123px;
  font-size: 30px;
  color: #1C1C1C;
  font-weight: 700;

}

#business_expertise hgroup p {
  margin-top: 29px;
  font-size: 15px;
  color: #1C1C1C;
}

#business_expertise .id {}

#business_expertise .id .person {
  float: left;
  margin-left: 86px;
  margin-top: 30px;
}

#business_expertise .id h2 {
  margin-top: 86px;
  display: inline-block;
  margin-left: 30px;
}

#business_expertise .id p {
  margin-left: 20px;
  /* display: inline-block; */
}

#business_expertise .id .signature {
  float: right;
  margin-top: -57px;
}


@media only screen and (max-width: 991px) {
  #business_expertise {
    text-align: center;
    margin-top: 1058px;
  }

  #business_expertise hgroup h2 {
    margin-top: 8px;

  }

  #business_expertise .id .person {
    float: left;
    margin-left: 176px;
    margin-top: 54px;
  }

  #business_expertise .id p {
    margin-left: 20px;
    display: block;
  }

  #business_expertise .id .signature {
    float: right;
    margin-top: -61px;
  }
}

@media only screen and (max-width: 991px) {
  #business_expertise hgroup {
    margin-left: 0;
  }

  #business_expertise {
    margin-top: 677px;
  }

}

@media only screen and (max-width: 768px) {
  #business_expertise hgroup {
    margin-left: 0;
  }

  #business_expertise {
    margin-top: 677px;
  }

}

@media only screen and (max-width: 576px) {
  #business_expertise hgroup {
    margin-left: 0;
  }

  #business_expertise .id .person {
    float: left;
    margin-left: 119px;
    margin-top: 39px;
  }

  #business_expertise .id h2 {
    margin-top: 32px;
    display: inline-block;
    margin-left: 21px;
    font-size: 25px;
  }

  #business_expertise .id p {
    font-size: 10px;
  }

  .id .signature {
    float: right;
    margin-top: -104px;
  }

  #business_expertise figure img {
    margin-top: 74px;
  }

  #business_expertise {
    margin-top: 1026px;
  }


}

/* count section */

#count {}

#count hgroup {
  padding: 26px 29px;
  text-align: center;
  border: 1px solid rgba(221, 221, 221, 0.542);
  margin-top: 125px;
  box-shadow: 8px 8px 16px #bebebe4a;
  border-radius: 10px;
  margin-bottom: 103px;
}

#count hgroup h2 {
  font-size: 36px;
  font-weight: bold;
  color: #1C1C1C;
}

#count hgroup p {
  font-size: 14px;
  font-weight: normal;
  color: #666666;
}

/* @media only screen and (max-width: 960px) {

  #count hgroup {
    margin-top: 59px;
  }
} */

@media only screen and (max-width: 960px) {

  #count hgroup {
    margin-top: 32px;
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 576px) {

  #count hgroup {
    margin-top: 21px;
    margin-bottom: 7px;
  }
}

/* Feedback & Why chose */
#feedback-chose {}

#feedback-chose {
  background-image: url(../img/banner-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bac
}

#feedback-chose hgroup h2 {
  color: #F9FAFB;
  font-size: 36px;
  font-weight: bold;
}

#feedback-chose hgroup p {
  color: #F9FAFB;
  font-size: 18px;
  font-weight: normal;
}

#feedback-chose hgroup hr {
  border-top: 1px solid rgba(151, 150, 150, 0.34);
  margin-top: 50px;
}

#feedback-chose .slider-div {
  width: 100%;
  height: 358px;
}

#feedback-chose .carousel-item h3 {
  color: #F9FAFB;
  font-size: 20px;
  margin-top: 107px;
  display: table;
  margin-left: 161px;
}

#feedback-chose .carousel-item img {
  margin-top: 32px;
}

#feedback-chose .carousel-item .text-full {
  color: #F9FAFB;
  font-size: 14px;
  margin-right: 32px;
  text-align: justify;
}

#feedback-chose .carousel-item .text {
  float: left;
  margin-left: 36px;
  font-size: 14px;
}

#feedback-chose .carousel-indicators li {
  width: 11px;
  height: 11px;
  border-radius: 50%;

}

#feedback-chose .carousel-indicators {
  left: 340px;
  margin-right: 0;
  bottom: 35px;

}

#feedback-chose .carousel-caption {
  left: 0%;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}


#feedback-chose .why-choose {}

#feedback-chose .why-choose hgroup {

  padding-top: 62px;
  padding-left: 65px;
}

#feedback-chose .why-choose hgroup h2 {
  font-size: 30px;
  color: #1C1C1C;
  margin-bottom: 22px;


}

#feedback-chose .why-choose hgroup img {

  padding-right: 20px;
}

#feedback-chose .why-choose hgroup h3 {
  font-size: 18px;
  color: #1C1C1C;
  padding-bottom: 5px;
  font-weight: 800;
}

#feedback-chose .why-choose hgroup p {
  font-size: 13px;
  color: #1C1C1C;
  width: 483px;
}


@media only screen and (max-width: 1200px) {
  #feedback-chose .why-choose hgroup {
    padding-left: 10px;
  }

  #feedback-chose .why-choose hgroup p {
    width: 430px;
  }

  #feedback-chose .boost {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 991px) {
  #feedback-chose {
    background-image: none;
  }

  #feedback-chose .part-1 {
    background: #1A4781;
    margin-top: 25px;
    margin-top: 50px;
  }

  #feedback-chose .boost {
    margin-left: 50px;
  }

  #feedback-chose .why-choose {
    margin-left: 38px;
  }

}

@media only screen and (max-width: 768px) {
  #feedback-chose .boost {
    margin-left: 5px;
  }

  #feedback-chose .carousel-item .slider-div {
    height: 376px;
  }

  .carousel-caption {
    right: 0;
  }
}

@media only screen and (max-width: 576px) {
  #feedback-chose .boost {
    margin-left: 5px;
    margin-top: 60px;
    margin-bottom: 12px;
  }

  #feedback-chose .feed {
    width: 10%;
    margin-bottom: 12px;
  }

  #feedback-chose .img-fluid {
    float: none !important;
    margin-top: 10px !important;
  }

  #feedback-chose .carousel-item h3 {
    margin-top: 10px;
    display: block;
    margin-left: 0;
    text-align: center;
  }

  #feedback-chose .carousel-item .text {
    float: none;
    margin-left: 0;
    font-size: 14px;
    text-align: center;
  }

  #feedback-chose .carousel-item .text-full {
    margin-right: 0;
    text-align: justify;
  }

  #feedback-chose .carousel-inner .slider-div {
    height: 423px;
  }

  #feedback-chose hgroup h2 {
    margin-bottom: 12px;
  }

  #feedback-chose .carousel-indicators {
    left: 0;
    margin-right: 0;
    bottom: -9px;
    margin-left: 0;
  }

  #feedback-chose .why-choose {
    margin-left: 0;
  }

  #feedback-chose .why-choose hgroup h2 {
    margin-top: 16px;
  }

  #feedback-chose .why-choose hgroup img {
    padding-bottom: 15px;
  }

  #feedback-chose .why-choose hgroup p {
    width: 318px;
    font-size: 15px;
  }

  #feedback-chose .why-choose hgroup {
    padding-top: 24px;
  }
}



/* Latest work */

#latest_work {
  max-height: 1125px;
  text-align: center;
}

#latest_work h2 {
  font-size: 30px;
  font-weight: bold;
  color: #1C1C1C;
  margin-top: 110px;
}

#latest_work p {
  font-size: 18px;
  color: #1C1C1C;
  margin-top: 32px;
}

#latest_work .part-2 {
  padding-top: 73px;
}

#latest_work .btn {
  margin-top: 70px;
  margin-bottom: 70px;
  background: #1A4781;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 15px;
  padding: 20px 59px;
  color: rgb(255, 255, 255);
}

#latest_work .btn:hover {
  background: #1a478100;
  color: rgb(38, 38, 38);
}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {
  #latest_work h2 {
    margin-top: 78px;
  }

  #latest_work .btn {
    margin-top: 42px;
  }
}

@media only screen and (max-width: 576px) {
  #latest_work .part-2 {
    padding-top: 52px;
  }

  #latest_work .part-3 {
    margin-top: 0;
  }

}





/* Latest news */
#latest_news {
  background-color: #F2F2F2;
  width: 100%;
  max-height: 790px;
}

#latest_news h2 {
  font-size: 38px;
  color: #1C1C1C;
  font-weight: 700;
  margin-top: 83px;
  margin-bottom: 59px;
}

#latest_news .card img {
  position: relative;
}

#latest_news .card .date {
  position: absolute;
  top: 0;
  right: 0;
  background: #17519D;
  color: #fff;
  padding: 9px 33px;
}

#latest_news .card span {
  font-size: 14px;
  color: #17519D;

}

#latest_news .card .card-body p {
  padding-bottom: 18px;
}

#latest_news .card .card-title {
  font-size: 16px;
  color: #1C1C1C;
  font-weight: 700;
}

#latest_news .card .card-text {
  font-size: 14px;
  color: #1C1C1C;
  text-align: justify;
}

#latest_news .card a {
  font-size: 14px;
  color: #AFAFAF;
}


@media only screen and (max-width: 1200px) {
  #latest_news {
    margin-top: 0 !important;
    max-height: none;
  }
}

@media only screen and (max-width: 992px) {
  #latest_news {
    margin-top: 0 !important;
    max-height: none;
  }

  #latest_news .card {
    margin-top: 28px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  #latest_news {
    margin-top: 1959px !important;
    max-height: none;
  }

  #latest_news h2 {
    margin-bottom: 20px;
  }

}

@media only screen and (max-width: 576px) {
  #latest_news {
    margin-top: 1430px !important;
  }

  #latest_news .container {
    padding-bottom: 77px;
  }

  #latest_news h2 {
    margin-top: 34px;
    margin-bottom: 38px;
  }

  #latest_news h2 {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 320px) {
  #latest_news {
    margin-top: 1096px;

  }
}


/* Purchase now */

#purchase {

  background-color: #1E2127;

}

#purchase .part-1 hgroup {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
}

#purchase .part-1 hgroup h2 {
  font-size: 28px;
  font-weight: bold;
  color: #AFAFAF;
}

#purchase .part-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
}

#purchase .part-2 .btn {
  padding: 20px 64px;
  background: rgba(221, 221, 221, 0);
  border-radius: 10px;
  border: 2px solid #ddd;
  color: #fff;
}

#purchase .part-2 .btn:hover {
  background: #1A4781;
  border-radius: 10px;
  border: 2px solid #ddd;
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  #purchase .part-1 hgroup h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {
  #purchase .part-1 hgroup {
    height: 102px;
  }

  #purchase .part-2 {
    height: 111px;
  }
}

@media only screen and (max-width: 576px) {
  #purchase .part-1 hgroup h2 {
    font-size: 19px;
  }

  #purchase .part-2 {
    height: 90px;
    margin-bottom: 20px;
  }

}

/* Message */
#Message {
  max-height: 616px;
  margin-top: 129px;
  margin-left: 53px;
  padding-bottom: 172px;
}

#Message .part-1 h6 {
  font-size: 18px;
  color: #AFAFAF;
}

#Message .part-1 h2 {
  font-size: 36px;
  color: #1C1C1C;
  font-weight: 800;
  margin-bottom: 36px;
}

#Message .part-1 p {
  font-size: 15px;
  color: #AFAFAF;
  margin-bottom: 30px;
}

#Message .part-1 h3 {
  font-size: 15px;
  color: #1C1C1C;
}

#Message .part-1 .text {
  font-size: 15px;
  color: #AFAFAF;
}

#Message .part-1 .number {
  font-size: 15px;
  color: #1C1C1C;
  font-weight: 600;
}

#Message .part-2 {}

#Message .part-2 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #1C1C1C;
  margin-bottom: 25px;
}

#Message .part-2 .form-control {
  display: inline-block;
  width: 100%;
  vertical-align: middle;

}

#Message .part-2 .more-1 {
  width: 74%;
}

#Message .part-2 .btn {
  padding: 21px 48px;
  background-color: #1A4781;
  color: #fff;
  font-size: 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
}

#Message .part-2 .btn:hover {
  padding: 21px 48px;
  background-color: #ffffff;
  color: rgb(34, 34, 34);
  font-size: 15px;
  border: 2px solid #ddd;
}

#Message .part-3 {
  margin-top: 52px;
}

.form-inline .custom-select,
.form-inline .input-group {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  #Message {
    max-height: none;
    margin-top: 90px;
    margin-left: 0;
    padding-bottom: 80px;
  }

  #Message .part-2 .btn {
    position: absolute;
    margin-top: 590px;
  }

  #Message .part-3 {
    margin-top: 0px;
  }
}



@media only screen and (max-width: 1200px) {
  #Message .part-3 .form-inline {
    margin-top: 27px !important;
  }
}
@media only screen and (max-width: 991px) {
  #Message .part-3 .form-inline {
    margin-top: 82px !important;
  }
  #Message .part-2 .btn {
    position: absolute;
    margin-top: 238px;
}
}
@media only screen and (max-width: 767px) {
  #Message .part-3 .form-inline {
    margin-top: 3px !important;
}
#Message .part-2 .btn {
  position: absolute;
  margin-top: 598px;
}
 
#Message .part-2 .btn {
  padding: 14px 40px;
}
}

@media only screen and (max-width: 576px) {
  #Message {
    margin-top: 70px;
  }

  #Message .part-1 h2 {
    font-size: 30px;
    color: #1C1C1C;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 19px;
  }

  #Message .part-1 h3 {
    padding-bottom: 10px;
  }

  #Message .part-2 h2 {
    margin-top: 10px;
  }

  #Message .part-2 .btn {
    margin-left: 0;
    position: absolute;
    margin-top: 590px;
  }

  #Message .part-3 {
    margin-top: 0px;
  }
  #Message .part-3 .form-inline {
    margin-top: 4px !important;
}
}

@media only screen and (max-width: 320px) {
  #Message .part-2 .btn {
    margin-left: 8px;
  }
}



/* Message
#Message {
  max-height: 616px;
  margin-top: 129px;
  margin-left: 53px;
  padding-bottom: 172px;
}

#Message .part-1 h6 {
  font-size: 18px;
  color: #AFAFAF;
}

#Message .part-1 h2 {
  font-size: 36px;
  color: #1C1C1C;
  font-weight: 800;
  margin-bottom: 36px;
}

#Message .part-1 p {
  font-size: 15px;
  color: #AFAFAF;
  margin-bottom: 30px;
}

#Message .part-1 h3 {
  font-size: 15px;
  color: #1C1C1C;
}

#Message .part-1 .text {
  font-size: 15px;
  color: #AFAFAF;
}

#Message .part-1 .number {
  font-size: 15px;
  color: #1C1C1C;
  font-weight: 600;
}

#Message .part-2 {}

#Message .part-2 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #1C1C1C;
  margin-bottom: 25px;
}

#Message .part-2 .form-control {
  display: inline-block;
  width: 100%;
  vertical-align: middle;

}

#Message .part-2 .more-1 {
  width: 74%;
}

#Message .part-2 .btn {
  padding: 21px 48px;
  background-color: #1A4781;
  color: #fff;
  font-size: 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
}

#Message .part-2 .btn:hover {
  padding: 21px 48px;
  background-color: #ffffff;
  color: rgb(34, 34, 34);
  font-size: 15px;
  border: 2px solid #ddd;
}

#Message .part-3 {
  margin-top: 52px;
}

.form-inline .custom-select,
.form-inline .input-group {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  #Message {
    max-height: none;
    margin-top: 90px;
    margin-left: 0;
    padding-bottom: 80px;
  }

  #Message .part-2 .btn {
    position: absolute;
    margin-top: 590px;
  }

  #Message .part-3 {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 576px) {
  #Message {
    margin-top: 70px;
  }

  #Message .part-1 h2 {
    font-size: 30px;
    color: #1C1C1C;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 19px;
  }

  #Message .part-1 h3 {
    padding-bottom: 10px;
  }

  #Message .part-2 h2 {
    margin-top: 10px;
  }

  #Message .part-2 .btn {
    margin-left: 31px;
    position: absolute;
    margin-top: 590px;
  }

  #Message .part-3 {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 320px) {
  #Message .part-2 .btn {
    margin-left: 8px;
  }
} */






/* Company Logo */

#company_logo {
  max-height: 253px;
  background: rgb(26, 71, 129);
}

#company_logo .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

@media only screen and (max-width: 992px) {
  #company_logo {
    max-height: none;
  }
}

/* Footer */

#footer {
  max-height: 548px;
  background-color: #1C1C1C;
  padding-top: 76px;
  border-bottom: 1px solid rgb(150, 150, 150);
}

#footer .part-1 img {
  margin-bottom: 37px;
}

#footer .part-1 p {
  font-size: 15px;
  color: #9F9F9F;
  text-align: justify;
  margin-bottom: 40px;
}

#footer .part-1 .input-group-text {
  background: rgb(26, 71, 129);
}

#footer .part-1 .fas {
  color: rgb(255, 255, 255);
}

#footer .part-1 .form-control {
  padding: 1.375rem .75rem;
}

#footer .part-2 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#footer .part-2 h2 {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 800;
  color: #F9FAFB;
}

#footer .part-2 a {
  font-size: 15px;
  color: #F9FAFB;
}

#footer .part-2 a:hover {
  color: rgb(87 160 255);
}

#footer .part-2 .fa-map-marker-alt {
  float: left;
  margin-top: 7px;
  font-size: 18px;
  color: #fff;
}

#footer .part-2 i {
  font-size: 18px;
  color: #fff;
}

#footer .part-2 .text {
  font-size: 14px;
  color: #fff;
}

#footer .part-4 .fab {
  margin-top: 10px;
  color: #1A4781;
  font-size: 30px;
}

#footer .part-4 a {
  margin-right: 15px;
}

#footer .part-4 a:hover .fab {
  color: #f7f7f7;
}




#footer-mini {
  max-height: 77px;
  background-color: #1C1C1C;
}

#footer-mini p {
  font-size: 16px;
  color: #F9FAFB;
}

#footer-mini b {
  font-size: 16px;
  color: #1C56A1;
}


#footer-mini {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

#footer-mini .part-2 .look a {
  font-size: 16px;
  color: #F9FAFB;
}

#footer-mini .part-2 .look a:hover {
  font-size: 16px;
  color: rgb(87 160 255);
}


@media only screen and (max-width: 992px) {
  #footer {
    max-height: none;
  }

  #footer .part-2 {
    display: flex;
    justify-content: normal;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 576px) {
  #footer .part-2 li {
    padding-bottom: 3px;
  }

  #footer .part-2 .social {
    margin-bottom: 12px;
  }

  #footer-mini p {
    font-size: 13px;
    text-align: center;
  }

  .float-right {
    float: none !important;
    text-align: center !important;
  }
}



/* About Us Page start here.... */

/* Page name */

#pageName {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 185px;
  background-color: #F6F8FB;
}

#pageName .pageName {
  font-size: 48px;
  font-weight: bold;
}

@media only screen and (max-width:767px) {
  #pageName .pageName {
    font-size: 40px;
  }

  #pageName {
    height: 130px;
  }
}

@media only screen and (max-width:576px) {
  #pageName .pageName {
    font-size: 30px;
  }

  #pageName {
    height: 100px;
  }
}

/* Page link */

#pageLink {
  height: 65px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #dddddda6;
}

#pageLink .part-1 {}

#pageLink .part-1 a {
  font-size: 16px;
  font-weight: normal;
  color: #1E2127;
}

#pageLink .part-1 a:hover {
  color: #1C56A1;
}

#pageLink .part-2 .shear {
  float: right;
}

#pageLink .part-2 .shear a {
  font-size: 16px;
  color: #1E2127;
  font-weight: 600;
}

#pageLink .part-2 .shear a:hover {
  color: #1C56A1;
}

/* Hero Section */

#AboutHeroSection {}

#AboutHeroSection figure img {
  margin-top: -2px;
}

#AboutHeroSection hgroup {}

#AboutHeroSection hgroup h2 {
  margin-top: 108px;
  font-size: 30px;
  color: #1C1C1C;
  font-weight: 700;

}

#AboutHeroSection hgroup p {
  margin-top: 29px;
  font-size: 15px;
  color: #1C1C1C;
}

#AboutHeroSection .id {}

#AboutHeroSection .id .person {
  float: left;
  margin-top: 22px;
}

#AboutHeroSection .id h2 {
  margin-top: 66px;
  display: inline-block;
  margin-left: 25px;
}

#AboutHeroSection .id p {
  margin-left: 24px;
  display: inline-block;
}

#AboutHeroSection .id .signature {
  float: right;
  margin-top: -57px;
}


@media only screen and (max-width: 1200px) {
  #AboutHeroSection .id .name {
    margin-right: 0;
  }

  #AboutHeroSection .id .signature {
    margin-top: -57px;
    margin-right: -25px;
  }
}

@media only screen and (max-width: 991px) {
  #AboutHeroSection {
    text-align: center;
    margin-top: 1058px;
  }

  #AboutHeroSection hgroup h2 {
    margin-top: 8px;

  }

  #AboutHeroSection .id .person {
    float: left;
    margin-left: 85px;
    margin-top: 20px;
  }

  #AboutHeroSection .id p {
    margin-right: 141px;
    display: block;
  }

  #AboutHeroSection .id .signature {
    float: right;
    margin-top: -61px;
  }

  #AboutHeroSection hgroup {
    margin-left: 0;
  }

  #AboutHeroSection {
    margin-top: 50px;
  }

  #AboutHeroSection .id h2 {
    margin-top: 66px;
    display: inline-block;
    margin-left: -148px;
  }

}

@media only screen and (max-width: 767px) {
  #AboutHeroSection {
    margin-top: 50px;
  }

  #AboutHeroSection .id .person {
    float: left;
    margin-left: 40px;
    margin-top: 54px;
  }

  #AboutHeroSection .id h2 {
    margin-top: 91px;
    display: inline-block;
    margin-left: -125px;
  }


}

@media only screen and (max-width: 575px) {
  #AboutHeroSection hgroup {
    margin-left: 0;
  }

  #AboutHeroSection .id .person {
    float: left;
    margin-left: 119px;
    margin-top: 39px;
  }

  #AboutHeroSection .id h2 {
    margin-top: 56px;
    display: inline-block;
    margin-left: 21px;
    font-size: 25px;
  }

  #AboutHeroSection .id p {
    font-size: 10px;
  }

  .id .signature {
    float: right;
    margin-top: -104px;
  }

  #AboutHeroSection figure img {
    margin-top: 74px;
  }

  #AboutHeroSection {
    margin-top: 40px;
  }

  #AboutHeroSection hgroup h2 {
    font-size: 25px;
    color: #1C1C1C;
    font-weight: 700;
  }

  #AboutHeroSection .id .person {
    float: left;
    margin-left: 0;
  }

  #AboutHeroSection .id h2 {
    margin-left: -22px;
  }

  #AboutHeroSection .id p {
    margin-right: 20px;
    display: block;
  }

  #AboutHeroSection .id .signature {
    float: right;
    margin-top: -17px;
    margin-right: 26px;
  }
}

/* Marketing tips and items */

#about_Marketing_tips {
  margin-top: 100px;
  margin-bottom: 100px;
}

#about_Marketing_tips h2 {
  font-size: 21px;
  color: #1E2127;
  font-weight: 700;
  margin-top: 19px;
}

#about_Marketing_tips p {
  font-size: 15px;
  color: #1E2127;
  margin-top: 15px;
}

@media only screen and (max-width:767px) {
  #about_Marketing_tips {
    margin-top: 70px;
  }

  #about_Marketing_tips hgroup {
    margin-bottom: 51px;
  }

}


/* Counter Items */
#about_counter {
  background-image: url(../img/pexels-photo-291762.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
}

#about_counter::before {
  position: absolute;
  content: '';
  background: rgba(0, 0, 0, 0.871);
  top: 0;
  left: 0;
  height: 300px;
  width: 100%;
}


#about_counter hgroup {
  padding: 26px 29px;
  text-align: center;
  margin-top: 125px;
  box-shadow: 3px 4px 11px #bebebe20;
  border-radius: 10px;
  margin-bottom: 103px;
}

#about_counter hgroup h2 {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
}

#about_counter hgroup p {
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
}

@media only screen and (max-width: 991px) {
  #about_counter {
    height: 350px;
}
#about_counter::before {
  height: 350px;
}

  #about_counter hgroup {
    margin-top: 32px;
    margin-bottom: 24px;
  }
  #about_counter hgroup {
    margin-top: 32px;
    margin-bottom: 12px;
}
}

@media only screen and (max-width: 767px) {

#about_Marketing_tips {
  margin-bottom: 20px;
}

}
@media only screen and (max-width: 576px) {
  #about_counter {
    height: 615px;
}
#about_counter::before {
  height: 615px;
}
  #about_counter hgroup {
    margin-top: 21px;
    margin-bottom: 7px;
  }
}

/* Card items */
#aboutCard {}

#aboutCard .part-1 {}

#aboutCard .part-1 h2 {
  margin-top: 134px;
  font-size: 38px;
  font-weight: bold;
  color: #1E2127;
}

#aboutCard .part-1 p {
  margin-top: 32px;
  font-size: 16px;
  color: #1E2127;
  padding: 0 250px;
  margin-bottom: 70px;
}

#aboutCard .part-2 {}

#aboutCard .part-2 .card {
  border: none;
  margin-bottom: 107px;
}

#aboutCard .part-2 .card-title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}

#aboutCard .part-2 h5 {
  font-size: 15px;
  color: #17519D;
  font-weight: 500;
  margin-bottom: 12px;

}

#aboutCard .part-2 p {
  font-size: 15px;
  color: #1C1C1C;
  margin-bottom: 26px;
}

#aboutCard .part-2 .social {}

#aboutCard .part-2 a {
  font-size: 35px;
  color: #1C1C1C;
  font-weight: 500;
  margin-bottom: 26px;
  margin-right: 20px;
}

#aboutCard .part-2 a:hover {
  color: #1f75e6;
}

@media only screen and (max-width:991px){
  #aboutCard .part-1 h2 {
    margin-top: 95px;
}
#aboutCard .part-1 p {
  color: #1E2127;
  padding: 0 65px;
  margin-bottom: 55px;
}
#aboutCard .part-2 .card {
  border: none;
  margin-bottom: 59px;
}
}
@media only screen and (max-width:767px){
  #aboutCard .part-1 h2 {
    margin-top: 60px;
}
#aboutCard .part-1 p {
  color: #1E2127;
  padding: 0 0;
  margin-bottom: 40px;
}
#aboutCard .part-2 .card {
  border: none;
  margin-bottom: 60px;
}
}
@media only screen and (max-width:575px){
  #aboutCard .part-1 h2 {
    margin-top: 60px;
}
#aboutCard .part-1 p {
  color: #1E2127;
  padding: 0 0;
  margin-bottom: 40px;
}
#aboutCard .part-2 .card {
  border: none;
  margin-bottom: 60px;
}
}

/* Client Review */
#client_Review{
  background-color: #1C56A1;
  height: 520px;
}
#client_Review .slider{
  height: 500px;
}
#client_Review  .carousel-caption{
top: 100px;
}
#client_Review  .carousel-caption img{
  margin-right: 338px;
}
#client_Review  .carousel-caption h2{
font-size: 36px;
font-weight: bold;
color: #fff;
margin-bottom: 25px;
}
#client_Review  .carousel-caption p{
font-size: 15px;
padding: 0 130px;
padding-bottom: 30px;
}
#client_Review  .carousel-caption hr{
margin: 0 300px;
border-top: 2px solid rgba(0,0,0,.1);
padding-bottom: 14px;
}
#client_Review  .carousel-caption h3{
font-size: 24px;
font-weight: 600;
color: #fff;
}
#client_Review  .carousel-caption h4{
  margin-top: 10px;
font-size: 14px;
color: #fff;
}
#client_Review .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

@media only screen and ( max-width: 1200px){
  #client_Review .carousel-caption {
    top: 77px;
}
#client_Review .carousel-caption {
    top: 77px;
}
#client_Review .carousel-caption p {
  padding: 0 62px;
}
#client_Review .carousel-caption hr {
  margin:  0 253px;
 margin-top: 20px;
}


}
@media only screen and ( max-width: 768px){
  #client_Review .carousel-caption {
    left: 0;}

}
@media only screen and ( max-width: 575px){

  #client_Review .carousel-caption h2 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 21px;
}
#client_Review .carousel-caption img {
  margin-right: 0;
}
#client_Review .carousel-caption {
  top: 39px;
}
#client_Review .carousel-caption p {
  padding: 0 4px;
}


}


/* Message */
#about_Message {
  max-height: 616px;
  margin-top: 129px;
  margin-left: 53px;
  padding-bottom: 172px;
}

#about_Message .part-1 h6 {
  font-size: 18px;
  color: #AFAFAF;
}

#about_Message .part-1 h2 {
  font-size: 36px;
  color: #1C1C1C;
  font-weight: 800;
  margin-bottom: 36px;
}

#about_Message .part-1 p {
  font-size: 15px;
  color: #AFAFAF;
  margin-bottom: 30px;
}

#about_Message .part-1 h3 {
  font-size: 15px;
  color: #1C1C1C;
}

#about_Message .part-1 .text {
  font-size: 15px;
  color: #AFAFAF;
}

#about_Message .part-1 .number {
  font-size: 15px;
  color: #1C1C1C;
  font-weight: 600;
}

#about_Message .part-2 {}

#about_Message .part-2 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #1C1C1C;
  margin-bottom: 25px;
}

#about_Message .part-2 .form-control {
  display: inline-block;
  width: 100%;
  vertical-align: middle;

}

#about_Message .part-2 .more-1 {
  width: 74%;
}

#about_Message .part-2 .btn {
  padding: 21px 48px;
  background-color: #1A4781;
  color: #fff;
  font-size: 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
}

#about_Message .part-2 .btn:hover {
  padding: 21px 48px;
  background-color: #ffffff;
  color: rgb(34, 34, 34);
  font-size: 15px;
  border: 2px solid #ddd;
}

#about_Message .part-3 {
  margin-top: 52px;
}

.form-inline .custom-select,
.form-inline .input-group {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  #about_Message {
    max-height: none;
    margin-top: 90px;
    margin-left: 0;
    padding-bottom: 80px;
  }

  #about_Message .part-2 .btn {
    position: absolute;
    margin-top: 590px;
  }

  #about_Message .part-3 {
    margin-top: 0px;
  }
}



@media only screen and (max-width: 1200px) {
  #about_Message .part-3 .form-inline {
    margin-top: 27px !important;
  }
}
@media only screen and (max-width: 991px) {
  #about_Message .part-3 .form-inline {
    margin-top: 82px !important;
  }
  #about_Message .part-2 .btn {
    position: absolute;
    margin-top: 238px;
}
}
@media only screen and (max-width: 767px) {
  #about_Message .part-3 .form-inline {
    margin-top: 3px !important;
}
#about_Message .part-2 .btn {
  position: absolute;
  margin-top: 598px;
}
 
#about_Message .part-2 .btn {
  padding: 14px 40px;
}
}

@media only screen and (max-width: 576px) {
  #about_Message {
    margin-top: 70px;
  }

  #about_Message .part-1 h2 {
    font-size: 30px;
    color: #1C1C1C;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 19px;
  }

  #about_Message .part-1 h3 {
    padding-bottom: 10px;
  }

  #about_Message .part-2 h2 {
    margin-top: 10px;
  }

  #about_Message .part-2 .btn {
    margin-left: 0;
    position: absolute;
    margin-top: 590px;
  }

  #about_Message .part-3 {
    margin-top: 0px;
  }
  #about_Message .part-3 .form-inline {
    margin-top: 4px !important;
}
}

@media only screen and (max-width: 320px) {
  #about_Message .part-2 .btn {
    margin-left: 8px;
  }
}

